.rangeWrap {
    position: relative;
    margin: 7px auto;
    width: 100%;
}

.rangeWrap input {
    width: 100%;
}

.rangeWrap div {
    background: #21d36d;
    color: white;
    padding: 2px;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: -23px;
    transform: translateX(-50%);
    width: 100px;
    text-align: center;
    scrollbar-color: pink lightblue;
    font-size: 12px; 
}

/* .rangeWrap div::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(22 163 74);
    bottom: -2px;
    left: 50%;
} */

/* input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
} */

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #8dffbf;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 100px;
    border-radius: 7px;
    background: #21d36d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #8dffbf;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #8dffbf;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #21d36d;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #8dffbf;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #8dffbf;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #21d36d;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #8dffbf;
}

input[type=range]:focus::-ms-fill-upper {
    background: #8dffbf;
}